version: '3.4'

services:
#  cortex.identityaccess.in.api:
#    env_file:
#      - ./var1.env
#    environment:
#      - ASPNETCORE_ENVIRONMENT=Development
#    volumes:
#      - /C/ei8/avatars/prod/sample:/C/db
  cortex.identityaccess.out.api:
    env_file: 
      - ./var1.env
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    volumes:
      - /C/ei8/avatars/prod/sample:/C/db
networks:
    default:
        external:
            name: sample_default